body {
  text-align: center;
  background-color: red;
}

img {
  border-radius: 50%;
  height: 200px;
}

/* Responsive Design */
@media screen and (min-width: 992px) {
  main {
    max-width: 990px;
    margin: 0 auto;
  }
  section {
    margin-left: 45px;
    float: left;
    width: 300px;
  }
  section:first-child {
    margin-left: 0;
  }
}
